<%= form_for @user_request, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label 'Read something like this to me please', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :copy, :class => 'text_area_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit 'Request call', :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                user_requests_path, :class => 'btn' %>
  </div>
<% end %>
